<!-- <pre>{{data | json}}</pre> -->

<div class="container">
    <div class="container__list">
        <div *ngFor="let message of data">
            <h3 (click)="getDetailsForMessage(message)">{{message.name}}</h3>
        </div>
    </div>
    <div class="container__details" *ngIf="details">
        <div class="container__details__services">
            <div class="container__details__services__publishers">
                <h4>PUBLISHERS</h4>
                <app-service-definition *ngFor="let service of details.publishers" [service]="service">
                </app-service-definition>
            </div>
            <div class="container__details__services__subscribers">
                <h4>SUBSCRIBERS</h4>
                <app-service-definition *ngFor="let service of details.subscribers" [service]="service">
                </app-service-definition>
            </div>
        </div>

        <div class="container__details__schemas">
            <h4>SCHEMA</h4>
            <pre>{{details.schemas | json}}</pre>
        </div>


        <!-- <pre>{{details | json}}</pre> -->
    </div>
</div>