.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;

    &__list {
        padding: 10px;
        flex: 0.2;
        overflow-y: auto;
    }
    &__details{
        padding: 10px;
        margin-left: 4px;
        flex: 0.8;
        display: flex;
        flex-direction: column;

        &__services {
            flex: 0.6;
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: space-between;

            &__publishers{
                & > h4 {
                    text-align: center;
                }
                flex: 0.5;
                overflow-y: auto;
            }

            &__subscribers{
                & > h4 {
                    text-align: center;
                }
                flex: 0.5;
                overflow-y: auto;
            }
        }
        &__schemas {
            flex: 0.4;
            overflow-y: auto;

            & > h4 {
                text-align: center;
            }
        }
    }
}